@import './first.scss';
@import './photo.scss';
@import './third.scss';
@import './mixins.scss';



body { 
    @include baseFont;
    width: 100%;
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background-color: whitesmoke;    
}

 
 
