@import './mixins.scss';

.third {
    @include baseShadow ;   
    width: 80%;
    height:auto;            
    box-sizing: border-box;
    padding: 50px;
    margin-bottom: 50px;  

    @media (max-width: 750px) { 
            
        width: 95%;                   
    }   
}

